#first {
	background-image: url(image/flat.jpg);
	background-size: cover; 
	height: 100vh;
	position: relative;

}

* {
	padding: 0;
	margin: 0;
}

article {
	width: 80vw;
	margin: 0 auto;
}

.main__inf {
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 36px;
	color: #03396C;
}

.inp, .inp2 {
	margin-top: 20px;
}

.inp2 {
	background: unset;
	border: none;
	font-size: 20px;

}

#two {
	background-image: url(#);
	background-size: cover;
	height: 100vh;
	margin-top: 10px
}


#three {
	background-image: url(#);
	background-size: cover;
	height: 100vh;
	margin-top: 10px;
}

.tnt2 {
	color: #0001DF;
}

.tnt {
	color: #fff;
}

.tnt3 {
	color: #6004B5;
}

section {
	-webkit-background-size: cover;
	background-size: cover;
}

.rzd {
	height: 5vh;
	border: none;
	background: unset;
	border: 1px solid rgba(90, 90, 90, 0.5);
	outline: none;
}

.left{
	border-radius: 100px 0px 0px 100px;
	padding-left: 15px;
}

.right {
	border-radius: 0px 100px 100px 0px;
	width: 25%;
}

.box {
	text-decoration: none;
}

